section{
    text-align: center;
    background-image: url(Images/tech.png);
    background-size: cover;
    width: 100%;
    height: 30em;
}
section h2 {
    background-color: #90e0ef;
    font-size: 30px;
    padding:25px;
    margin: 0px;
    border-top  : 5px solid #48cae4;
}
section h3 {
    background-color: #ade8f4c4;
    padding: 15px;
    margin: 0px;
    font-weight: lighter;
}
.about{
    position: relative; top:50px; 
    font-size: 20px;
}
.learnbutton{
    margin: 30px 0px ;
}
.content{
    color: grey;
    text-align: center;
    padding: 3% 20%;
    line-height: 2em;
}
.content p a {
    color: red;
}
.navigate{
    display: inline;
}
.navigate a{
    color: grey;    
}   
.navigate div{
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.lowMove{
    padding-left: 20px;
}
.highMove{
    padding-left: 50px;
}
@media screen and (max-width:1200px) {
    section{
        height: 27em;
    }    
}
@media  (max-width:1000) {
    section{
     height: 22em;  
    }
}
    @media  (max-width:800) {
        section{
         height: 15em;
        }
    }
        @media  (max-width:600) {
            section{
             height: 10em;  
            }       
         }      