.container{
    padding: 0% 12%;
    color: grey;
}
.cborder{
    border-bottom: solid grey 0.5px;
    padding: 2% 0%;
}
.listing{
    padding: 2% ;
}
img{
    width: 200px;
    height: 175px;
}
.image{
    width: 400px;
    height: 450px;
}